@tailwind base;
@tailwind components;
@tailwind utilities;

.text-D1 {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 700;
}

.text-D2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
}

.text-H1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

h1{
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.text-H2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.text-H3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

h3{
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.text-H4 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
}

H4 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.text-H5 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.text-H6 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
}

.text-S1 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.text-S2 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}

.text-S3 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.text-S4 {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
}

.text-S5 {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
}

.text-B1 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
}

.text-B2 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.text-B3 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.text-C1 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.text-C2 {
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
}

.text-Overline {
  font-size: 8px;
  line-height: 16px;
  font-weight: 400;
}

.rich-text-content ol {
  list-style-type: decimal; /* Numbers for ordered lists */
  padding-left: 20px;
}

.rich-text-content ul {
  list-style-type: disc; /* Bullets for unordered lists */
  padding-left: 20px;
}

